<div class="wrap">
    <div class="tittle text-center mb-2">
        <h2>Login</h2>
    </div>
    <form [formGroup]="loginForm" novalidate>

        <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control">
        </div>

        <div class="form-group">
            <label>Senha</label>
            <input type="password" formControlName="password" class="form-control">
        </div>

        <div class="mt-2 bt">
            <button (click)="checkLogin()" [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </form>
</div>