<form [formGroup]="registerForm" novalidate class="needs-validation" autocomplete="on">
    <div class="container my-3">
        <div class="row">
            <div class="col-md-4 mb-3">
                <app-control-input label="Nome *" errorMessage="Campo inválido!">
                    <input type="text" formControlName="name" class="form-control" id="input" value="input" placeholder="floating">
                </app-control-input>
            </div>

            <div class="col-md-4 mb-3">
                <app-control-input label="CPF *" errorMessage="Campo inválido!">
                    <input type="text" formControlName="cpf" class="form-control" id="input" placeholder="floating" mask="000.000.000-00">
                </app-control-input>
            </div>

            <div class="col-md-4 mb-3">
                <app-control-input label="Telefone *" errorMessage="Campo inválido!">
                    <input type="text" formControlName="fone" class="form-control" id="input" placeholder="floating" mask="(00)00000-0000">
                </app-control-input>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-3">
                <app-control-input label="Email *" errorMessage="Campo inválido!">
                    <input type="text" formControlName="email" class="form-control" id="input" placeholder="floating">
                </app-control-input>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <app-control-input label="Confirmação Email *" errorMessage="Campo inválido!">
                    <input type="text" formControlName="emailConfirmation" class="form-control" id="input"
                        placeholder="floating">
                </app-control-input>
            </div>
        </div>

        <div formGroupName="adress">

            <div class="row">
                <div class="col-md-3 mb-3">
                    <app-control-input label="CEP *">
                        <input (blur)="consultCEP()" placeholder="floating" type="text" formControlName="cep"
                            class="form-control" mask="00000-000">
                    </app-control-input>
                </div>

                <div class="col-md-3 mb-3">
                    <app-control-input label="Número *" errorMessage="Campo inválido!">
                        <input type="text" formControlName="houseNumber" class="form-control" id="input"
                            placeholder="floating">
                    </app-control-input>
                </div>

                <div class="col-md-6 mb-3">
                    <app-control-input label="Complemento" errorMessage="Campo inválido!">
                        <input type="text" formControlName="complement" class="form-control" id="input"
                            placeholder="floating">
                    </app-control-input>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    <app-control-input label="Rua *" errorMessage="Campo inválido!">
                        <input type="text" formControlName="street" class="form-control autocompletAdress" id="input"
                            placeholder="floating" readonly>
                    </app-control-input>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 mb-3">
                    <app-control-input label="Bairro *" errorMessage="Campo inválido!">
                        <input type="text" formControlName="district" class="form-control autocompletAdress" id="input"
                            placeholder="floating" readonly>
                    </app-control-input>
                </div>
                <div class="col-md-4 mb-3">
                    <app-control-input label="Cidade *" errorMessage="Campo inválido!">
                        <input type="text" formControlName="city" class="form-control autocompletAdress" id="input"
                            placeholder="floating" readonly>
                    </app-control-input>
                </div>
                <div class="col-md-3 mb-3">
                    <app-control-input label="Estado *" errorMessage="Campo inválido!">
                        <select formControlName="state" class="form-select autocompletAdress" id="input" aria-label="Floating" readonly>
                            <option *ngFor="let state of states" [value]="state.initials">{{state.name}}</option>
                        </select>
                    </app-control-input>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-3 mb-3">
                <app-control-input label="Cargo *" errorMessage="Campo inválido!">
                    <select formControlName="office" class="form-select" id="input" aria-label="Floating">
                        <option *ngFor="let office of offices" [value]="office.name">{{office.name}}</option>
                    </select>
                </app-control-input>
            </div>
            <div class="col-md-3 mb-3">
                <select formControlName="technology" class="form-select" multiple>
                    <option *ngFor="let technology of technologies" [value]="technology.name">{{technology.name}}
                    </option>
                </select>

            </div>

            <div formGroupName="frameworks" class="col-md-4 mb-3">

                <label for="">Frameworks</label>
                <br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="Angular" formControlName="angular">
                    <label class="form-check-label" for="inlineCheckbox1">Angular</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="React" formControlName="react">
                    <label class="form-check-label" for="inlineCheckbox2">React</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="Vue" formControlName="vue">
                    <label class="form-check-label" for="inlineCheckbox3">Vue</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="Laravel" formControlName="laravel">
                    <label class="form-check-label" for="inlineCheckbox3">Laravel</label>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="mb-1">Deseja participar da nossa Newsletter?</label>
                <br>
                <div class="form-check form-check-inline">
                    <input checked class="form-check-input" type="radio" name="newsletter" value="yes"
                        formControlName="newsletter">
                    <label class="form-check-label">Sim</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="newsletter" value="no"
                        formControlName="newsletter">
                    <label class="form-check-label">Não</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="terms" required>
                    <label class="form-check-label">
                        Concordo e aceito os termos de cadastro.
                    </label>
                    <div class="invalid-feedback">
                        É preciso aceitar os termos.
                    </div>
                </div>

            </div>
        </div>

        <div class="row my-2">
            <div class="col-12">
                <button (click)="sendEmployees(registerForm.value)" type="submit"
                    class="btn btn-primary mx-2">Salvar</button>
                <button type="reset" (click)="cancelRegister()" class="btn btn-light">Cancelar</button>
            </div>
        </div>
    </div>


</form>