<form [formGroup]="registerForm" novalidate class=" needs-validation">
    <div class="container my-3">
        <div class="row">
            <div class="col-4 form-group">
                <label for="">Nome</label>
                <input type="text" formControlName="name" class="form-control" [ngClass]="cssValidation('name')">
                <div *ngIf="registerForm.controls.name.touched &&
                registerForm.controls.name.invalid">
                    <p class="text-danger" style="height: 10px;">Campo Inválido!</p>
                </div>
            </div>

            <div class="col-4 form-group">
                <label for="">CPF</label>
                <input type="text" formControlName="cpf" class="form-control" mask="000.000.000-00" [ngClass]="cssValidation('cpf')">
                <div *ngIf="registerForm.controls.cpf.touched &&
                 registerForm.controls.cpf.invalid">
                    <p class="text-danger" style="height: 10px;">Campo Inválido!</p>
                </div>
            </div>

            <div class="col-4 form-group">
                <label for="">Telefone</label>
                <input type="text" formControlName="fone" prefix="+55 " mask="(00) 00000-0000" class="form-control" [ngClass]="cssValidation('fone')">
                <div *ngIf="registerForm.controls.fone.touched &&
                 registerForm.controls.fone.invalid">
                    <p class="text-danger" style="height: 10px;">Campo Inválido!</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 form-group">
                <label for="">Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="cssValidation('email')">
                <div *ngIf="registerForm.controls.email.touched &&
                 registerForm.controls.email.invalid">
                    <p class="text-danger" style="height: 10px;">Campo Inválido!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <label for="">Email Confirmação </label>
                <input type="text" formControlName="emailConfirmation" class="form-control" [ngClass]="cssValidation('emailConfirmation')">
                <div *ngIf="registerForm.controls.emailConfirmation.touched &&
                registerForm.get('emailConfirmation').hasError('required')">
                    <p class="text-danger" style="height: 10px;">Campo Inválido!</p>
                </div>
                <div *ngIf="registerForm.get('emailConfirmation').hasError('equalsTo') && registerForm.controls.emailConfirmation.touched">
                    <p class="text-danger" style="height: 10px;">Emails não são iguais</p>
                </div>
            </div>
        </div>

        <div formGroupName="adress">

            <div class="row">
                <div class="col-3 form-group">
                    <label for="">CEP</label>
                    <input (blur)="consultCEP()" type="text" formControlName="cep" class="form-control" mask="00000-000" [ngClass]="cssValidation('adress.cep')">
                    <div *ngIf="registerForm.get('adress.cep').invalid && registerForm.get('adress.cep').touched">
                        <p class="text-danger" style="height: 10px;">Campo Inválido!</p>
                    </div>
                </div>

                <div class="col-3 form-group">
                    <label for="">Número</label>
                    <input type="text" formControlName="houseNumber" class="form-control" [ngClass]="cssValidation('adress.houseNumber')">
                    <div *ngIf="registerForm.get('adress.houseNumber').invalid && registerForm.get('adress.houseNumber').touched">
                        <p class="text-danger" style="height: 10px;">Campo Inválido!</p>
                    </div>
                </div>

                <div class="col-6 form-group">
                    <label for="">Complemento</label>
                    <input type="text" formControlName="complement" class="form-control" [ngClass]="cssValidation('adress.complement')">

                </div>
            </div>
            <div class="row">
                <div class="col-12 form-group">
                    <label for="">Rua</label>
                    <input type="text" formControlName="street" class="form-control" [ngClass]="cssValidation('adress.street')">
                    <div *ngIf="registerForm.get('adress.street').invalid && registerForm.get('adress.street').touched">
                        <p class="text-danger" style="height: 10px;">Campo Inválido!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5 form-group">
                    <label for="">Bairro</label>
                    <input type="text" formControlName="district" class="form-control" [ngClass]="cssValidation('adress.district')">
                    <div *ngIf="registerForm.get('adress.district').invalid && registerForm.get('adress.district').touched">
                        <p class="text-danger" style="height: 10px;">Campo Inválido!</p>
                    </div>
                </div>
                <div class="col-4 form-group">
                    <label for="">Cidade</label>
                    <input type="text" formControlName="city" class="form-control" [ngClass]="cssValidation('adress.city')">
                    <div *ngIf="registerForm.get('adress.city').invalid && registerForm.get('adress.city').touched">
                        <p class="text-danger" style="height: 10px;">Campo Inválido!</p>
                    </div>
                </div>
                <div class="col-3 form-group">
                    <label for="">Estado</label>
                    <select formControlName="state" class="form-select form-control" [ngClass]="cssValidation('adress.state')">
                        <option *ngFor="let state of states" [value]="state.initials">{{state.name}}</option>
                        </select>
                    <div *ngIf="registerForm.get('adress.state').invalid && registerForm.get('adress.state').touched">
                        <p class="text-danger" style="height: 10px;">Campo requerido!</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-3 form-group">
                <label>Cargo</label>
                <select class="form-select control-form" formControlName="office" [ngClass]="cssValidation('office')">
                    <option selected hidden></option>
                    <option value="Gerente de Projetos">Gerente de Projetos</option>
                    <option value="HelpDesk">HelpDesk</option>
                    <option value="Engenheiro de Software">Engenheiro de Software</option>
                    <option value="Analista de Sistemas">Analista de Sistemas</option>
                    <option value="Scrum Master">Scrum Master</option>
                  </select>
                <div *ngIf="registerForm.controls.office.touched &&
                  registerForm.controls.office.invalid">
                    <p class="text-danger" style="height: 10px;">Selecione um Cargo!</p>
                </div>
            </div>
            <div class="col-3 form-group">
                <label for="">Tecnologias</label>
                <select class="form-select form-control" multiple formControlName="technology" [ngClass]="cssValidation('technology')">
                    <option value="Java">Java</option>
                    <option value="PHP">PHP</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="C#">C#</option>
                    <option value="C++#">C++</option>
                    <option value="TypeScript">TypeScript</option>
                    <option value="Ruby">Ruby</option>
                    <option value="Swift">Swift</option>
                    <option value="Scala">Scala</option>
                    <option value="Dart">Dart</option>
                    <option value="Python">Python</option>
                    <option value="C">C</option>
                    <option value="R">R</option>
                </select>
                <div *ngIf="registerForm.controls.technology.touched &&
                    registerForm.controls.technology.invalid">
                    <p class="text-danger" style="height: 10px;">Selecione pelo menos uma tecnologia </p>
                </div>
            </div>

            <div formGroupName="frameworks" class="col-4 form-group">

                <label for="">Frameworks</label>
                <br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="Angular" formControlName="angular">
                    <label class="form-check-label" for="inlineCheckbox1">Angular</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="React" formControlName="react">
                    <label class="form-check-label" for="inlineCheckbox2">React</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="Vue" formControlName="vue">
                    <label class="form-check-label" for="inlineCheckbox3">Vue</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="Laravel" formControlName="laravel">
                    <label class="form-check-label" for="inlineCheckbox3">Laravel</label>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-4 form-group">
                <label class="mb-1">Deseja participar da nossa Newsletter?</label>
                <br>
                <div class="form-check form-check-inline">
                    <input checked class="form-check-input" type="radio" name="newsletter" value="yes" formControlName="newsletter" [ngClass]="cssValidation('newsletter')">
                    <label class="form-check-label">Sim</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="newsletter" value="no" formControlName="newsletter" [ngClass]="cssValidation('newsletter')">
                    <label class="form-check-label">Não</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="terms">
                    <label class="form-check-label">
                      Concordo e aceito os termos de cadastro.
                    </label>
                </div>
                <div *ngIf="registerForm.get('terms').value === false">
                    <p class="text-danger" style="height: 10px;">Aceite os termos para cadastrar</p>
                </div>
            </div>
        </div>


        <div class="row my-2">
            <div class="col-12">
                <button (click)="sendEmployees(registerForm.value)" [disabled]="registerForm.invalid" type="submit" class="btn btn-primary mx-2">Salvar</button>
                <button type="reset" (click)="cancelRegister()" class="btn btn-light">Cancelar</button>

            </div>
        </div>
    </div>


</form>