<div class="wrap">
    <div class="tittle text-center mb-2">
        <h2>Login</h2>
    </div>
    <form [formGroup]="loginForm" novalidate>

        <app-control-input label="Email">
            <input type="text" class="form-control" placeholder="email" formControlName="email" id="input">
        </app-control-input>
        <div class="mb-1"></div>
        <app-control-input label="Senha">
            <input type="password" class="form-control" placeholder="senha" formControlName="password" id="input">
        </app-control-input>



        <div class="mt-2 bt">
            <button (click)="checkLogin()" [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </form>
</div>