<div class="container my-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Endereço</th>
                <th scope="col">telefone</th>
                <th *ngIf="checkLoggedIn()" scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of employees">
                <td>{{row.name}}</td>
                <td>{{row.email}}</td>
                <td> {{row.adress.district + ", "+row.adress.street + ", " + row.adress.houseNumber}} {{row.adress.complement}}</td>
                <td>{{row.fone}}</td>
                <td *ngIf="checkLoggedIn()">
                    <a *ngIf="checkLoggedIn()" role="button" (click)="updateEmploye(row.id)"> <i class="fa fa-pencil mx-2"></i> </a>


                    <a *ngIf="checkLoggedIn()" role="button" (click)="deleteEmploye(row.id)"> <i class="fa fa-trash"></i> </a>
                </td>
            </tr>

        </tbody>
    </table>
</div>